<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Matricula</title>
</head>
<body class='bg-[url(../assets/imgs/formBackground.png)] bg-center bg-cover bg-right-top'>
    <aside class="flex flex-col w-1/4 h-screen bg-black/65 justify-center items-center">

        <h2 class="text-[48px] text-white font-[Times] mb-2" id="title">Matricule-se</h2>

        <form action="../API/matricula.php" method="POST" class="flex flex-col" id="form">
            <label for="name" class="text-white">Nome completo</label>
            <input type="text" id="name" name="name" placeholder="Nome" class="mb-4 p-2 mt-1 bg-white w-75 rounded-md">

            <label for="cpf" class="text-white">CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="CPF" class="mb-4 p-2 mt-1 bg-white w-75 rounded-md">

            <label for="telefone" class="text-white">Número de telefone</label>
            <input type="text" id="tel" name="tel" placeholder="Telefone" class="mb-4 p-2 mt-1 bg-white w-75 rounded-md">

            <label for="password" class="text-white">Senha</label>
            <input type="password" id="password" name="password" placeholder="Senha" class="mb-4 p-2 mt-1 bg-white w-75 rounded-md">

            <button id='btn' class="self-center font-[Times] text-[14px] tracking-[.06em] bg-[#6C6C6C] p-2 h-10 w-25 hover:bg-zinc-900 text-white rounded-sm cursor-pointer">CONCLUIR</button>
        </form>
        <div id="pix" style="display: none; flex-direction: column; justify-content: center; align-items: center;">
            <img src="../src/assets/imgs/qr(exemplo).png" alt="Success" class="w-60 h-60 rounded-md">
            <button id='btnfinish' class="self-center font-[Times] text-[14px] tracking-[.06em] bg-[#6C6C6C] p-2 h-10 w-30 hover:bg-zinc-900 text-white rounded-sm cursor-pointer">FINALIZAR</button>
        </div>
    
    </aside>
    <script src="./scripts/matricula.js"></script>
</body>
</html>